body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(87, 87, 87);
    font-size: 17px;
    font-weight: 300;
}

nav {
    height: 100px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0em;
    color: #222;
    font-weight: 500;
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #2ad2b0;
}
.navbar-light .navbar-toggler{
    border:1px solid;
    border-color:#2ad2b0;
}


.logo, .logo2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #2ad2b0;
}

.logo:hover {
    color: #fac02b;
    text-decoration: none;
}

mark{
    background-color: #fde00768;
    opacity:20%;
}

#subtitle {
    color: #797979;
    font-weight: 100;
}

.name {
    font-family: 'Montserrat', sans-serif;
    color: #222;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    display: block;
}

.before {
    height: 100px;
}

a {
    color: #2ad2b0;
}

footer a:hover {
    color: #fac02b;
}

footer {
    margin-top: 50px;
}

hr.style1 {
    border-top: 2px solid #2ad2b0;
}

h6{
    color: #2ad2b0;
    font-weight: 700;
}

/* -------------------------------------------------------------------
Responsive Media Querries
------------------------------------------------------------------- */

/** Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) {
    .before{
        height:40px;
    }
    .card{
        margin-bottom:30px;
    }
    p{
        font-size: 14px;
    }
    .logo {
        display: none;
      }
    .logo2 {
        display: block;
      }

    
}
/** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    .before{
        height:100px;
    }
    .card{
        margin-bottom:0px;
    }
    p{
        font-size: 17px;
    }
    .logo {
        display: block;
      }
    .logo2 {
        display: none;
      }

}
/** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}