body {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fde007;
    
}

button .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid;
    border-color:#ffffff;
    border-radius: .25rem;
}

.logo {
    color: #ffffff;
}

.logo:hover {
    color: #222;
}

.link a{
    color: #ffffff;  
}
.link a:hover{
    color: #fde007;  
    font-size: 20px;
}

i {
    color: #ffffff;
}

i:hover {
    color: #fde007;  
}

hr.style1 {
    border-top: 2px solid #ffffff;
}

span {
    color: #fde007;    
}

.profileImg {
    width: 50%;
}

small{
    font-weight: 100;
}
