$merriweather: 'merriweather',
serif;
$poppins: 'poppins',
sans-serif;
$dark: #19191A;
$medium: #646466;
$light: #7D7D80;
$break-med: 900px;
$break-sml: 440px;

.home_project-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.4;
}

#typing-animate {
  height: 50px;
}

.page-down {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

.arrow {
  box-sizing: border-box;
  height: 3vw;
  width: 3vw;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#name-highlight {
  color: #FE4F6C;
}



/* The Projects */

.project {
  background-color: #EAF4FA;
  padding: 80px 0px;
}

.main-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 6%;
}

.section-header {
  font-size: 12px;
  /* font-weight: 600; */
  color: #292841;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.project-container {
  display: flex;
  flex-grow: 1;
  height: 500px;
  width: 100%;
  margin-bottom: 80px;
  transition: all 0.4s ease;

  &:hover {
    box-shadow: 0 10px 20px #c7cad1;
    transform: translate(0, -5px);
  }

  @media screen and (max-width: $break-med) {
    flex-direction: column;
    height: 100%;
  }

  @media screen and (max-width: $break-sml) {
    margin-bottom: 60px;
  }

  .project-img {
    flex-basis: 50%;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    padding-top: 680px / 1160px * 100%;
    // height: 0;

    @media screen and (max-width: $break-med) {
      padding-top: 680px / 1280px * 100%;
      // height: 0;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      // object-fit: cover;
      // width: 100%;
      // height: 100%;

      @media screen and (max-width: $break-med) {
        top: 0;
        left: 0;
      }
    }
  }

  .project-details {
    font-family: $merriweather;
    font-weight: 300;
    font-size: 15px;
    color: #242424;
    background-color: white;
    padding: 80px;
    // width: 50%;
    box-sizing: border-box;

    @media screen and (max-width: $break-sml) {
      height: 140px;
      padding: 20px;
    }

    .project-data {
      color: #7D7D80;
      font-family: $poppins;
      font-size: 13px;
      letter-spacing: 1px;
      margin-bottom: 56px;

      @media screen and (max-width: $break-med) {
        margin-bottom: 36px;
      }

      @media screen and (max-width: $break-sml) {
        margin-bottom: 24px;
      }
    }

    .project-title {
      color: #292841;
      font-family: $poppins;
      font-size: 40px;
      line-height: 1.2;
      font-weight: 600;

      @media screen and (max-width: 1100px) {
        font-size: 32px;
      }

      @media screen and (max-width: $break-sml) {
        font-size: 28px;
      }
    }

    .project-subtitle {
      color: #FE4F6C;
      font-family: $merriweather;
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 24px;

      @media screen and (max-width: $break-sml) {
        font-size: 16px;
      }
    }

    .body {
      line-height: 1.75;

      @media screen and (max-width: $break-sml) {
        display: none;
      }

      object {
        display: block;
        margin-top: 4px;

        img {
          width: 11px;
          height: 11px;
          margin-left: 4px;
        }
      }
    }
  }
}

.projects {
  background-color: #EAF4FA;
}

.project-btn {
  color: #292841;
  border-color: #292841;
  padding: 8px 12px;
}

.btn-outline-dark:hover {
  background-color: #292841;
  border-color: #292841;
}

.logo {
  font-size: 21px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #000000;
}

.logo:hover {
  color: #FE4F6C;
  text-decoration: none;
}

.badge-outline {
  color: rgb(91, 238, 189);
  border: 1px solid rgb(91, 238, 189);
  background-color: transparent;
  border-radius: 1em;
  font-weight: 100;
  font-size: 12px;
}

#project-title-underline {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

#about-underline {
  font-size: 17px;
  font-weight: 600;
  color: #000000;
}

.hover-highlight {
  color: #000000;
  position: relative;
}

.hover-highlight::before {
  content: ' ';
  position: absolute;
  bottom: .2em;
  height: .4em;
  background-color: #FE4F6C;
  width: 100%;
  left: 0;
  z-index: -1;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  opacity: 0.2;
}

.hover-highlight:hover {
  color: #000000;
}

.hover-highlight:hover::before {
  height: 1em;
  opacity: 0.4;

}

h4 {
  color: rgb(15, 12, 40);
  padding-left: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Lato', 'sans-serif';

}

.jobproject-title {
  color: #FE4F6C;
  font-weight: 700;

}

.cta1 {
  color: rgb(96, 85, 194);
  font-weight: 100;
}

.cta2 {
  color: #3b3b3b;
  font-weight: 100;
}

.cta1 :hover {
  color: rgb(69, 253, 192);
  font-weight: 100;
  border-bottom: 1px solid rgb(69, 253, 192);
}

.case-study1 {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  background-color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
  background: linear-gradient(rgba(20, 20, 20, .9),
      rgba(20, 20, 20, .9)),
    url('../img/Hero_bg5.png');
  background-position: right;
}

.case-study2 {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  background-color: #010110;
  margin-top: 0px;
  margin-bottom: 0px;
  /* background-image: url('../img/Hero_bg1.png'); */
  background-position: left;
  background: linear-gradient(rgba(20, 20, 20, .9),
      rgba(20, 20, 20, .9)),
    url('../img/Hero_bg1.png');
}

.case-study3 {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  background-color: #170f31;
  margin-top: 0px;
  margin-bottom: 0px;
  background: linear-gradient(rgba(20, 20, 20, .9),
      rgba(20, 20, 20, .9)),
    url('../img/Hero_bg2.png');
  background-position: right;
}

.case-study4 {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  background-color: #cecece;
  margin-top: 0px;
  margin-bottom: 0px;
  background: linear-gradient(rgba(20, 20, 20, .9),
      rgba(20, 20, 20, .9)),
    url('../img/Hero_bg3.png');
  background-position: center;
}

.case-study5 {
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  background-color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
  background: linear-gradient(rgba(20, 20, 20, .9),
      rgba(20, 20, 20, .9)),
    url('../img/Home/Hero_totoro.png');
  background-position: center;
}

#viewall {
  font-size: 24px;
  font-weight: 700;
}


/** Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) {}

@media (min-width: 768px) {
  .case-study1 {
    background: #000000;
    background-image: url('../img/Hero_bg5.png');
  }

  .case-study2 {
    background: #000000;
    background-image: url('../img/Hero_bg1.png');
  }

  .case-study3 {
    background: #000000;
    background-image: url('../img/Hero_bg2.png');
  }

  .case-study4 {
    background: #000000;
    background-image: url('../img/Hero_bg3.png');
  }

  .case-study5 {
    background: #000000;
    background-image: url('../img/Home/Hero_totoro.png');
  }
}

.short-bio {
  text-align: left;
  max-width: 840px;
  margin-top: 100px;
}

.short-bio_body {
  font-size: 16px;
}

.second-title {
  margin-top: 100px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.4;
  color: #EAF4FA;
}