.body-text{
max-width: 960px;
}
.card{
	border:0px;
}

.card-body{
	background-color: #fff;
}
.card-body .card-text{	
	font-family: 'Lato', sans-serif;
	color: #3f3f3f;
	padding-left: 0px;
	font-weight: 400;
}
.card-title{
	color: #121212;
	margin-bottom:0.3em;
	font-weight: 700;
}
.badge-outlined{
	border-color: #B0BEC5;
  color: #B0BEC5
}
/** Small devices (tablets, 320px and up) */
@media (min-width: 320px) {
	.side-by-side{
		max-width:100%;
	}
	
}
/** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}
/** large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.side-by-side{
		max-width:100%;
	}
	
	
}