body {


    font-family: 'Montserrat', sans-serif;
    color: rgb(87, 87, 87);
    font-size: 17px;
    font-weight: 300;
}

img {
    height: auto;
    max-width: 100%;
}

img.expanded {
    max-width: none;
}

img {
    height: auto;
    max-width: 640px;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

img.expanded {
    max-width: 2000px;
}


.navbar-light .navbar-nav .nav-link {

    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #222;
    font-weight: 400;
    padding-left: 1em;
    padding-right: 1em;
}

.logo {
    font-family: 'Montserrat', sans-serif;

    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #2ad2b0;
}

.logo:hover {
    color: #222;
    text-decoration: none;
}

nav {
    height: 100px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #2ad2b0;
}
mark{
    background-color: #fde00768;
    opacity:20%;
}

#subtitle {
    color: #797979;
    font-weight: 100;
}

.name {
    font-family: 'Montserrat', sans-serif;
    color: #222;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    opacity: 0.5;
}

.carousel-indicators .active {
    background-color: #2ad2b0;
    opacity: 0.6;
}

footer a,
a {
    color: #2ad2b0;
}

footer a:hover {
    color: #222;
}

hr.style1 {
    border-top: 2px solid #2ad2b0;
}

.before {
    height: 100px;
}

.profileImg {
    width: 70%;
    
    
}

p {
    line-height: 24px;
    display: block;
}






/*//tile animation//*/

.tile {
    width: 340px;
    height: 340px;
    margin: 15px;
    background-color: #000000;
    display: inline-block;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
    overflow: hidden;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.tile img,
video {
    height: 100%;
    width: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out;
}

.tile .text {
      /* z-index:99; */
    position: absolute;
    padding: 30px;
    height: calc(100% - 60px);
}

.tile h1 {
    font-weight: 300;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: 20px 0 0 0;
   transform: translateX(200px);
}

.tile p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 20px 0 0 0;
    line-height: 25px;
    /*   opacity:0; */
    transform: translateX(-200px);
    transition-delay: 0.2s;
}

.animate-text {
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.tile:hover {
    /*   background-color:#99aeff; */
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
    transform: scale(1.05);
}

.tile:hover img {
    opacity: 0.2;
}

.tile:hover .animate-text {
    transform: translateX(0);
    opacity: 1;
}

.tile:hover span {
    opacity: 1;
    transform: translateY(0px);
}




/*portfolio_item*/

.project_image {
    /*margin-top: 30px;*/
}

.project_description h1 {
    font-family: 'Montserrat', sans-serif;

    color: #2ad2b0;
    font-weight: 400;
}

.project_description mark {
    font-family: 'Montserrat', sans-serif;
}

.project_detail img {
    margin-top: 50px;
}

.carousel-inner {
    width: 100%;
    max-height: 200px !important;
}

.figure-caption {
    font-family: 'Montserrat', sans-serif;
}

.tales {
    width: 100%;
}

.colletrals {
    margin-top: 100px;
}

.prototype_video {
    box-shadow: 0px 30px 70px -10px rgba(0, 0, 0, 0.44);
    padding-top: 70px;
}

footer {
    margin-top: 300px;
}




/*card_video*/

.card .card-image {
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


.card {
    margin-top: 10px;
    position: relative;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card .card-content {
    padding: 10px;
}

.card .card-content .card-title,
.card-reveal .card-title {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.card .card-action {
    padding: 20px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}

.card .card-action a {
    font-size: 15px;
    color: #ffab40;
    text-transform: uppercase;
    margin-right: 20px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.card .card-action a:hover {
    color: #ffd8a6;
    text-decoration: none;
}

.card .card-reveal {
    padding: 20px;
    position: absolute;
    background-color: #FFF;
    width: 100%;
    overflow-y: auto;
    /*top: 0;*/
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;
    display: none;
}

.card .card-reveal p {
    color: rgba(0, 0, 0, 0.71);
    margin: 20px;
}

.btn-custom {
    background-color: transparent;
    font-size: 18px;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;

    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: Transparent;
    color: #2ad2b0;
    padding: 14px 20px;
    margin: 8px 0;

    border-color: #2ad2b0;
    border-style: solid;
    border-radius: 6px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2ad2b0;
    color: #ffffff;
}


.btn-outline-primary {
    color: #2ad2b0;
    background-color: transparent;
    background-image: none;
    border-color: #2ad2b0;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
    color: #ffffff;
    background-color: #2ad2b0;
    border-color: #2ad2b0; /*set the color you want here*/
}